<article class="post-item post-item-{{ post.id }} {% if post.type == 'post' %}post-item--full{% else %}post-item--status{% endif %}">
    {% if post.type == 'post' %}
    <header class="post-item__header">
        <h3>
            <a href="{{ 'post-view' | page({ slug: post.slug }) }}" class="post-item__link">
                {{ post.name }}
            </a>
        </h3>
        {% partial '@post-summary' post = post fromList = true %}
    </header>
    {% if post.image is not empty %}
    <section class="post-item__image">
        <a href="{{ 'post-view' | page({ slug: post.slug }) }}">
            <img src="{{ post.image.getThumb(700, 400) }}" class="img-fluid" alt="{{ post.image.name }}" loading="lazy">
        </a>
    </section>
    {% endif %}
    <section class="post-item__text">
        {{ post.small_text }}
    </section>
    {% else %}
        {{ post.name }}
    {% endif %}
</article>
