<div class="post-summary">
    <div class="post-summary__item post-summary__item--category">
        <a href="{{ 'category-view' | page({ slug: post.category.slug }) }}">
            {{ post.category.name }}
        </a>
    </div>
    <div class="post-summary__item post-summary__item--date">
        <i class="far fa-calendar-alt"></i> {{ post.created_at | date('d.m.Y') }}
    </div>
    <div class="post-summary__item post-summary__item--views">
        <i class="fas fa-eye"></i>
        {{ post.views }}
    </div>
    <div class="post-summary__item post-summary__item--comments">
        <i class="fas fa-comment"></i>
        {% if fromList %}
            {{ comments.count(post.slug) }}
        {% else %}
            <span id="comments-count">{{ comments.count(post.slug) }}</span>
        {% endif %}
    </div>
</div>
